body{
    background-color: #242424;
}

.start-state{
    transform: translate(0, -2000px);
}

.end-state{
    transform: scale(0);
}

.vibrate {
    animation: tilt-shaking 0.25s 5;
}  

@keyframes tilt-shaking {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(5deg); }
    50% { transform: rotate(0eg); }
    75% { transform: rotate(-5deg); }
    100% { transform: rotate(0deg); }
  }